node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.DS_Store
.vscode
.idea
*.log
coverage
.nyc_output
dist
build
*.tsbuildinfo
captain-definition
docker-compose.yml
